<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="dbconncld" value="Driver={PostgreSQL ANSI};database=tagid;server=portal.tagid.co.in;port=5432;uid=root;sslmode=disable;readonly=0;protocol=7.4;User ID=root;password=OOghksRHGVtvn67t8vu;" />
		<add key="dbconn" value="Driver={PostgreSQL ANSI};database=postgres;server=portal.tagid.co.in;port=5432;uid=root;sslmode=disable;readonly=0;protocol=7.4;User ID=root;password=OOghksRHGVtvn67t8vu;" />
		<add key="path" value="C:\\priya\\New folder\\New folder\\" />
		<add key="ZPLPath" value="C:\\Users\\IT\Desktop\\producttype\\" />

		<add key="MachineIPAddress" value="10.23.45.103" />
		<add key="CalibrateZPLR" value="^XA^HR^XZ" />
		<add key="CalibrateZPLC" value="~JC^XA^JUS^XZ"/>
			
		<add key="CalibrateZPL1" value="^XA^HRstart,end,B20,F42,M^XZ" />
		<add key="QCZPL" value="^XA^RS8^RFR,H,0,8,2^FN1^FS^HV1,,8-byte Tag ID Data:^FS^XZ" />
		<add key ="QCZPLs1" value="^XA^RS8^FN0^RFR,H^FS^HV0^XZ"/>
		
		
		                          
	    <add key ="QCZPL_28" value="~RVE^XA^RME^RR10,1^RS8,,,1,N,,,2^FS^RFR,H,0,12,2^FN1^FS^HV1,256^FS^XZ"/>

		<add key ="QCZPL_28n" value="~RVE^XA^RMN^RR10,1^RS8,,,1,N,,,2^FS^RFR,H,0,12,2^FN1^FS^HV1,256^FS^XZ"/>
				
		<add key ="QCZPL_1" value="~RVE^XA^RR10,1^RS8,,,1,N,,,2^RFR,H,0,12,2^FN1^HV1,256^FS^XZ"/>
		<add key ="QCZPL_RMN" value="^XA^RMN^XZ"/>
		
		
		
		
		
		<add key ="QCZPL_11" value="~RVE^XA^RME^RR10,1^RS8,,,1,N,,,2^FS^RFR,H,0,12,2^FN1^FS^HL^XZ"/>
		<add key ="QCZPL_28_1" value="~RVE^XA^RME^RR10,1^RS8,,,1,N,,,2^FS^RFR,H,0,12,2^FN1^FS^XZ"/>
		
		
		
		
		<add key="QCZPL11" value="~RVE^XA^RME^RR10,1^RFR,H,0,12,2^FN1^HV1,256,,,L^FS^XZ" />
		<add key="QCZPL2" value="~RVE^XA^RMe^RR10,1^RS8,0,,1^FS^RFR,H,0,12,2^FN1^FS^HV1,256^FS^XZ" />
		<add key="QCZPL_" value="^XA^RS8^RFR,H,0,8,2^FN1^FS^HV1,,8-byte Tag ID Data:^FS^XZ" />
		<add key ="QCZPL21_" value="^XA^RS8^FN0^RFR,H^FS^HV0^XZ"/>
		<add key ="QCZPL11_" value="~RVE^XA^RS8,,10,6,N,^RMN^RFR,H,0,12,2^FN1^FS^HV1,256,HEADER,TERMINATION,L^FS^XZ"/>
		<add key="QCZPL1_" value="^XA^RFR,H,0,12,2^FN1^FS^HV1,256,HEADER,TERMINATION,F^FS^XZ" />
		<add key="QCZPL2_" value="^XA^RS8^RFR,H,0,8,2^FN1^FS^HV1,,TagData:[,],L^FS^XZ" />
		<add key="connectionby" value="USB" />
		<add key="connectionby1" value="TCP" />
		<add key="createdby" value="test"/>
	</appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>